body{
    display: grid;
    grid-template-columns:(3,1 fr);
    grid-template-areas: "head head head"
    "nav nav nav"
    "main main main"
    "foot foot foot";
}

img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

section{
    position: absolute;
}

#floatll{
    float: left;
}

#floatrr{
    float: right;
}

#floatmm{
    float: center;
}

.blackbg{
    background-color: black;
}